html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
    
} 

header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border: solid black 5px;
    margin-bottom: 10px;
    padding: 10px;
}

#main-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 5px;
}

.heading-container {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

#character-lineup {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.lineup-container {
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: white;
    color: black;
    text-align: center;
    float: left;

}

.user-character {
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;

}

.enemy {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;    
}

.defender {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: black;
    color: white;
    text-align: center;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
}

#user-character, #enemies, #fight-section, #defender, #user-attack, #enemy-attack, #fight-text, #game-over {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#instructions {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
}

button {
    clear: both;
    float: left;
    font-size: 24px;
    margin-bottom: 10px;
    border: solid 2px black;
    
}