body {
    background-color: gray;    
} 

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

p {
    padding: 5px;
}

.heading-container {
    clear: both;
    float: left;
    font-size: 32px;
    font-weight: bold;
}

.lineup-container {
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: white;
    color: black;
    text-align: center;
    float: left;
}

.user-character {
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;

}

.enemy {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;
    
}

.defender {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: black;
    color: white;
    text-align: center;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
}

#user-character, #enemies, #fight-section, #defender, #user-attack, #enemy-attack, #fight-text, #game-over {
    clear: both;
    float: left;
}

button {
    clear: both;
    float: left;
}