body {
    background-color: gray;    
} 

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.lineup {
    width: 200px;
    height: 200px;
    
}

p {
    padding: 5px;
}

.lineup-container {
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: white;
    color: black;
    text-align: center;
    float: left;
}

.user-character {
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;

}

.enemies {
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    background-color: red;
    color: black;
    text-align: center;
    
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
}

#user-character, #enemies-to-attack, #fight-section, #defender, #your-attack, #enemy-attack{
    clear: both;
    float: left;
}

button {
    clear: both;
    float: left;
}